<div class="container bg-light py-5">
  <h1 class="display-S fw-bold">Welcome to Angular Assessment</h1>
  <p class="col-md-8 fs-4">
    This Assessment will contains total 10 questions. Each answer holds 10
    points
  </p>
  <h4>Rules:</h4>
  <ol>
    <li>Correct Answer gives you 10 points</li>
    <li>Incorrect Answer have -10 points</li>
    <li>Each question have 20 seconds to answer</li>
    <!--<li>Refreshing the page will reset the quiz</li>-->
  </ol>
  <h1 style="font-family: cursive; text-align: left;">All the best!!</h1>
  <div class="name col-md-4 my-3">
    <label for="">Enter Your Name:</label>
    <input #name type="text" class="form-control" />
  </div>
  <button
    class="btn btn-primary btn-lg"
    routerLink="/question"
    (click)="startQuiz()"
  >
    Start the Assessment!!
  </button>
</div>
